<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.concordiaguide">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <uses-library android:name="android.test.runner"
            android:required="false" />
        <activity
            android:name=".ClassScheduleActivity"
            android:label="@string/title_activity_class_schedule"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.concordiaguide.MainActivity" />
        </activity>
        <activity
            android:name=".CampusNavigationActivity"
            android:label="@string/title_activity_campus_navigation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.concordiaguide.MainActivity" />
        </activity>
        <activity
            android:name=".IndoorNavigationActivity"
            android:label="@string/title_activity_indoor_navigation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.concordiaguide.MainActivity" />
        </activity>
        <activity
            android:name=".BuildingInfoActivity"
            android:label="BuildingInfoActivity"
            android:parentActivityName=".CampusNavigationActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar">
        </activity>
        <activity
            android:name=".BuildingInfoPopup"
            android:theme="@style/AppTheme.PopupBuildingInfo">
        </activity>
        <activity android:name=".PoiTypesActivity"
            android:label="Points of Interest"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAU8ELR1yZq10gz5FzYR-reaueT3AeekrU" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_maps">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>